body {

}

.col-md-3{
	
	background-color: #5F9EA0;
	text-align: center;
	height: 1013px;
	



	
}

.container {
	border-style: solid;
	background-color: #DCDCDC;
	border-radius: 5px;
	text-align: center;
	border-color: grey;
	height: 1020px;

}

.col-md-9{
	
	font-size: 150%;
	height: 1000px;
	border-color: grey;


}

img {
	width: 50%;


}

h3{
	font-size: 30px;
	margin-top: 200px;
}

h5 {
	font-size: 150%;
	margin-top:50px;
}

h6 {
	font-size: 170%;
	font-weight: bold;
	background-color: #5F9EA0;

}

.comp{
	font-size: 150%;



}

h1 {
	font-weight: bold;
	background-color: #5F9EA0;
	font-size: 25px;
}

h2{
	margin-top: 70px;
	font-size: 25px;
}

h4 {
	margin-bottom: 50px;

}


p {
	font-weight: bold;
}






